@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

* {box-sizing: border-box;}
body{
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  padding: 30px;
  margin: 0;
  background-color: #F0FFFF;
  text-align: center;
}
.container{
  margin: 10px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #BCC6CA;
}
button{
  padding: 10px 35px;
  margin: 10px;
}
.rulles{
  margin: 0 auto;
  max-width: 700px;
  background-color: #94BE91;
  padding: 50px;
}
.rulles a{
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #C4DEDE;
}
